body{
    background-color:#152138; 
    margin: 0; 
}
.container{
    display: flex; 
    width: 100%; 
    height: 100%; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


@media only screen and (max-width: 800px){
    .container{
        display: flex; 
        justify-content: space-around;
    }
}