.friend-chat-row{
    display: flex; 
    align-items: center;
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    margin-top: 5px; 
}
.friend-chat-row:hover{
    background-color: #4646641b;
}
.content{
    margin: 10px; 
}
.friend-name{
    display: block; 
    width: 300px; 
    height: 25px; 
    background-color: #4646646d;
    border-radius: 10px; 
    margin-bottom: 10px; 
}
.last-chat{
    display: block; 
    width: 420px; 
    height: 20px; 
    background-color: #4646646d;
    border-radius: 10px; 
    margin-bottom: 10px; 
}

/* keyframe for displas with width less than 630px */
@media only screen and (max-width: 630px) {
    .friend-pic{
        width: 70px; 
        height: 70px; 
    }
}