body{
    line-height: 50%; 
}
.login-frame{
    background-color: #1E234A; 
    margin: 10px;
    padding: 20px; 
    border-radius: 4px; 
}

.logo-space{
    display: flex; 
    justify-content: center;
}

#logo{
    width: 240px; 
    cursor: pointer; 
}

.register-form{
    display: flex;  
    flex-direction: column; 
    justify-content: center;
}
.col-1{
    display: flex; 
}

.option-1{
    font-size: 1em; 
    margin-left: 1.5em; 
    cursor: pointer; 
}
.sign-area{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* media query for device's screen size less than 800px */ 
@media only screen and (max-width: 800px){
    .login-frame{
        width: 100%; 
        height: 100%; 
        margin: 0px; 
    }
    .col-1{
        flex-direction: column; 
    }
    #logo{
        width: 280px; 
    }
    .register-form{
        width: 100%; 
        display: flex; 
        justify-content: center; 
        flex-direction: column; 
        align-items: center;
    }
    .sign-area{
        margin-top: 20px; 
    }
}

