body{
    line-height: 50%; 
}
.login-frame{
    background-color: #1E234A; 
    margin: 10px;
    padding: 20px; 
    border-radius: 4px; 
}

.logo-space{
    display: flex; 
    justify-content: center;
}

#logo{
    width: 240px; 
    cursor: pointer; 
}

.register-form{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
}
.email-field{
    grid-column: 1/-1; 
}
.password-field{
    grid-column: 1/-1; 
}
.password-con-field{
    grid-column: 1/-1; 
}
.option-1{
    font-size: 1em; 
    margin-left: 1.5em; 
    cursor: pointer; 
}
.sign-area{
    grid-column: 1/-1; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* media query for device's screen size less than 800px */ 
@media only screen and (max-width: 800px){
    .login-frame{
        width: 100%; 
        margin: 0px; 
        padding: 30px; 
    }
    #logo{
        width: 280px; 
    }
    .register-form{
        width: 100%; 
        display: flex; 
        justify-content: center; 
        flex-direction: column; 
    }
    .last-name{
        grid-column: 1/-1; 
    } 
}

