.nav-wrapper{
    background-color: #101337; 
    width: 100vw;
    height: 70px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
#logo{
    object-fit: cover; 
    width: 150px; 
    margin-left: 0px; 
    margin: 15px; 
    cursor: pointer; 
}
.nav-right{
    display: flex; 
    justify-content: space-evenly;     
    align-items: center;
    padding: 15px; 
}
.nav-right > * {
    margin-right: 15px; 
    cursor: pointer; 
}
.nav-right > *:hover{
    color: #bed1e7; 
}
#status-icon:hover{
    animation-name: shakyIcon; 
    animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045); 
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
}
#expand-more-btn{
    margin: 0px; 
}
.profile-pic-icon{
    display: block; 
    width: 40px; 
    height: 40px; 
    background-color: rgb(153, 0, 255); 
    border-radius: 40%; 
}

@media only screen and (min-width: 900px) {
    .nav-wrapper{
        max-width: 400px; 
        border-bottom-right-radius: 20px;
    } 
}

@keyframes shakyIcon {
    0% { 
        transform: rotate(0deg); 
    }
    20%{
        transform: rotate(5deg); 
    }
    30%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(5deg); 
    }
    50%{
        transform: rotate(7deg); 
    }
    70%{
        transform: rotate(0deg); 
    }
    80%{
        tranform: roate(-7deg); 
    }
    100%{
        transform: rotate(0deg);
    }
}