.menu-wrapper{
    display: flex; 
    background-color: #1c256986; 
    width: 100%; 
    height: 40px; 
    align-items: center;
    border-bottom: 1px solid #353c6d; 
    justify-content: space-between;
    padding-top: 10px; 
    padding-bottom: 10px; 
}
.logo-centered{
    width: 190px !important; 
    margin: 0px; 
}
.left, .right{
    justify-content: space-evenly;
    display: flex; 
    align-items: center;
}
.right > * {
    margin: 10px; 
}