.textarea-wrapper{
    width: 100%; 
}
textarea{
    display: block; 
    background-color: #3450ad9a; 
    outline: none; 
    border: none; 
    border-radius: 10px; 
    padding: 5px; 
    color: white; 
    margin-right: 10%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    width: 96%; 
    height: 45px; 
    font-size: 1.3em; 
}