.msg-row{
    display: block; 
    margin-bottom: 30px; 
}
.msg-box{
    display: flex; 
    align-items: center;
}
.sender-pic{
    display: block; 
    width: 70px; 
    height: 70px; 
    background-color: #4755654e;
    border-radius: 50%; 
    margin-right: 10px; 
}
.sender-name{
    display: block; 
    width: 250px; 
    height: 25px; 
    background-color: #4755654e;
    border-radius: 10px; 
    margin-bottom: 10px; 
}
.sender-msg{
    display: block; 
    width: 300px; 
    height: 70px; 
    background-color: #4755654e;
    border-radius: 10px; 
}
