.col-1{
    display: flex; 
    justify-content: space-between;
}

/* media query for changing input width */ 
@media only screen and (max-width: 800px){
    .col-1{
        flex-direction: column; 
    } 
}