.register-container{
    display: flex; 
    height: 100vh; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    line-height: 60%;
}
.col-1{
    display: flex; 
    width: 100%; 
    background-color: red; 
}

.input-pack{
    width: 100%; 
}

.form-grid{
    display: grid; 
    grid-template-columns: 1fr 1fr;     
}

.grid-form-item{
    margin: 2px; 
}
.grid-form-item:nth-child(3) {
    grid-column: 1/-1;
}

/* media query for changing input width */ 
@media only screen and (max-width: 800px){
    .col-1{
        flex-direction: column; 
    } 
}

@media only screen and (max-width: 650px) {
    .form-grid {
        margin: 1.5em; 
        margin-top: 2em; 
    }
    .grid-form-item:nth-child(1){
        grid-column: 1/-1;  
    }  
    .grid-form-item:nth-child(2){
        grid-column: 1/-1;  
    }  
    .grid-form-item:nth-child(4){
        grid-column: 1/-1;  
    }  
    .grid-form-item:nth-child(5){
        grid-column: 1/-1;
    }
}
