.btn-wrapper{
    display: inline-flex; 
    background-color: #3450ad9a; 
    height: 50px; 
    width: 55px; 
    border-radius: 30%; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
.btn-wrapper:hover{
    background-color: #3450ad7e;
}