.msg-row{
    display: block; 
    margin-bottom: 30px; 
}
.msg-box-sender{
    display: flex; 
    width: 100%; 
    align-items: center;
    justify-content: flex-end;
}
.sender-pic{
    display: block; 
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    margin-right: 10px; 
}
.sender-name{
    display: block; 
    width: 250px; 
    height: 25px; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}
.sender-msg{
    display: block; 
    width: 300px; 
    height: 70px; 
    border-radius: 10px; 
}
.col-1{
    margin-left: 10px;
}
.name-right{
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}
