.input-label{
    font-family: "Apple Symbols"; 
    font-size: 1.4em; 
    color: white; 
}
.usr-inp{
    display: block; 
    background-color: #98b1f594; 
    opacity: 100%; 
    height: 20px; 
    border: none; 
    border-radius: 10px; 
    color: white; 
    padding: 10px; 
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 1.1em; 
    margin-top: -10px; 
    margin-left: 10px; 
}
.usr-inp:hover{
    background-color: #98b1f5c3; 
}
.usr-inp:focus{
    outline: none; 
    background-color: #98b1f56f;
}

/* media query for changing input width */ 
@media only screen and (max-width: 800px){
    .usr-inp{
        width: 312px; 
    }
}