version: '3.9'

services: 
  api: 
    build: . 
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    volumes: 
      - ./:/app
    depends_on:
      - db

  frontend: 
    build: ./frontend/
    ports: 
      - 3000:3000
    volumes: 
      - ./:/app/src
    depends_on: 
      - api

  db:
    image: postgres
    environment: 
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
