version: '3.9'

services: 
  api: 
    build: . 
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    volumes: 
      - ./:/app
    depends_on:
      - db
#    environment:
#      - DB_HOST=db
#      - DB_NAME=apidb
#      - DB_USER=devuser
#      - DB_PASS=changeme 

  frontend: 
    build: ./frontend/
    ports: 
      - 3000:3000
    depends_on: 
      - api

  db:
    image: postgres